body {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;
  }

  @media only screen and (min-width: 768px) {
    .ui.container {
      width: 900px;
      max-width: 900px;
    }

    nav.ui.container .ui.header {
      float: left;
      margin-top: 12px;
    }

    .logo {
    width: 50%
  }

  .divider {
      display: block;
    }

    nav.ui.container .ui.compact.menu {
      float: right;
    }
  }
  @media only screen and (max-width: 768px) {
    .video {
      width: 100%;
    }
    .divider {
      display: none;
    }
    .logo {
      width: 80%
    }
  }


  .ui.vertical.center.aligned.segment {
    padding-top: 36px;
  }

  nav.ui.container .ui.compact.menu .item {
    padding-bottom: 0;
  }

  nav.ui.container .ui.compact.menu .item {
    font-size: 16px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 14px;
    margin-left: 16px;
    margin-right: 16px;
    border-radius: 0;
  }

  nav.ui.container .ui.compact.menu .active.item {
    background-color: inherit;
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-width: 2px;
  }

  .ui.vertical.segment {
    height: 100vh;
    
  }

  .ui.content.container {
    height: 300px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .ui.content.container h1.header {
    font-size: 36px;
  }

  .ui.content.container p {
    font-size: 21px;
    line-height: 1.6;
    font-weight: 300;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .ui.vertical.segment footer.ui.segment {
    height: 80px;
    width: 100%;
    bottom: 0;
  }

  .ui.vertical.segment footer.ui.segment a {
    color: black;
  }